.header {
  background-color: #00AABF;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  
}

.dropbtn {
  display: none;
  cursor: pointer;
  padding:5px;
 
}

.logo {
  padding: 10px;
}

.nest {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  position: relative;
}

a {
  padding: 10px;
  text-decoration: none;
  color:white;
}

@media (max-width: 700px) {
  .header {
    grid-auto-flow: row;
  }
  
  .nest {
    display: none;
    grid-auto-flow: row;
  }

  .dropbtn {
    color: white;
    display: inline-block;
  }
}

.show {
  display: grid;
}





















  



















