
/*
 * Please don't modify this file, use main.css instead.
 * @author Peter Sommerhoff<peter@petersommerhoff.com>
 */

 body {
   background-color: #353535;
   color: white;
   font-family: roboto;
   text-align: center;
   
 }

 p {
   margin: 0;
 }

 






